* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

header {
  padding: 40px 0px 0px 77px;
  line-height: 25px;
  font-weight: 700;
  font-size: 24px;
  font-family: "Inconsolata", monospace;
  letter-spacing: -0.08em;
  color: #333333;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 77px;
}

img {
  display: flex;
  height: 450px;
  width: 540px;
  padding: 100px 0px 0px 0px;
}

h1 {
  padding: 100px 0px 0px 120px;
  height: 190px;
  width: 586px;

  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.04em;
  color: #333333;
}

p {
  padding: 36px 0px 0px 120px;
  height: 108px;
  width: 380px;

  font-weight: 400;
  font-family: "Space Mono", monospace;
  font-weight: lighter;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.05em;
  color: #4f4f4f;
}

button {
  /*---Box---*/
  width: 216px;
  height: 68px;
  margin-top: 36px;
  margin-left: 120px;
  border-style: none;
  background-color: #333333;

  /*---Text---*/
  padding: 20px;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.035em;
  color: #fff;
}

.footerWrapper {
  width: 100%;
  margin-top: 70px;
}

footer {
  font-weight: 500;
  font-style: normal;
  line-height: 17px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
/*--- responsive design ---*/
@media screen and (max-width: 375px) {
  header {
    padding: 20px 0px 0px 20px;
  }

  .container {
    margin-left: 20px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  img {
    padding: 66px 0px 60px 25px;
    height: 238px;
    width: 286px;
  }

  h1 {
    padding: 0px 0px 0px 20px;
    height: 142px;
    width: 100%;
    font-size: 36px;
    font-style: bold;
    line-height: 60px;
  }

  p {
    padding: 30px 23px 60px 23px;
    height: 81px;
    width: 328px;

    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #4f4f4f;
  }

  button {
    /*---Box---*/
    margin-top: 0px;
    margin-left: 50px;
    /*---Text---*/
    font-size: 14px;
    line-height: 20px;
  }

  .footerWrapper {
    margin-top: 96px;
  }
}
